<html>
    <head>
        <title>Error 404</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 
        
        <script src="./javascript/scipts.js"></script>   
        
    </head>
    <body>
        
        {{>header}}
        {{title}}:{{errorMessage}}
        {{>footer}}
    </body>
</html> 