<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css"> 
         {{!-- Again reminding css,js asset are served from ./public folder   --}}
        <script src="./javascript/scipts.js"></script>   
        <!--//linking css,js with relative route,absolute route may expose hard disk etc-->
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/ajay-sign.jpeg">
        <ul>
            currentTemp<li>{{currentTemp}}</li>
             feelsLike<li>{{feelsLike}}</li>
        </ul>
        </div>
        {{>footer}}
    </body>
</html> 